@font-face {
    font-family: 'Times New Roman', Times, serif;
    src: url();
}
body {
    color: rgba(102, 153, 204);
    background-color: black;
    font-weight: bold;
}
.flexInBody {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 0;
}
.titelVoor {
    text-align: center;
    font-size: 5vw;
    display: flex;
    height: 10vh;
    width: 95vw;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    color: rgba(102, 153, 204);
    justify-content: center;
    align-items: center;
}
p, h3 {
    color: rgba(102, 153, 204);
}
table, tr, td {
    border: 0.3vw solid black;
    border-radius: 10px;
}
.button {
    color: white;
    background-color: rgba(102, 153, 204);
    height: 15vw;
    width: 15vw;
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 0px, hidden, transparent ;
    border-radius: 5px;
}
.buttonGroen {
    color: white;
    background-color: #66cc66;
    height: 10vw;
    width: 10vw;
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.buttonRood {
    color: white;
    background-color: #cc6666;
    height: 10vw;
    width: 10vw;
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
img {
    border: 1px, solid, rgba(102, 153, 204);
}
video {
    max-width: 45vw;
    max-height: 45vh;
    min-width: 15vw;
    min-height: 15vh;
    border: 1px, solid, rgba(102, 153, 204);
}
.logo {
    position: fixed;
    width: 25vw;
    top: 10px;
    right: 10px;
    z-index: 1;
    border: 0px;
}
.flexOpties {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}
.flexTrajecten {
    display: flex;
    flex-direction: column;
}
.trajecten {
    color: white;
    background-color: rgba(102, 153, 204);
    height: 10vh;
    width: 20vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 3vw;
}
.logoVoor {
    position: fixed;
    bottom: 2.5vh;
    right: 2.5vw;
    width: 25vw;
    z-index: 1;
    border: 0px;
}
a {
    font-size: 18pt;
    color: rgba(102, 153, 204);
    text-decoration: none;
}
a:active {
    color: rgb(82, 123, 163);;
    text-decoration: underline;
}
@keyframes roteren {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.roterend {
    animation: roteren 20s linear infinite;
    min-width: unset;
    min-height: unset;
    max-width: unset;
    max-height: unset;
    width: 75%;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}
.trajectKnop {
    color: white;
}
.fotoPagina {
    width: 50vw;
}
.kaart {
    color: white;
    background-color: black;
    width: 90vw;
    height: 50vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 5vw;
    display: flex;
    background-image: url("paginas/kaart/grond/gelijkvloers.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.flexKaart {
    width: 100vw;
    height: 55vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.kaartFotoGrond {
    background-image: url("paginas/kaart/grond/gelijkvloers.png");
}
.kaartFoto1steWest {
    background-image: url("paginas/kaart/eerste/1steWest.png");
}
.kaartFoto1steOost{
    background-image: url("paginas/kaart/eerste/1steOost.png");
}
.kaartFoto2deWest {
    background-image: url("paginas/kaart/tweede/2de\ West.png");
}
.kaartFoto2deOost {
    background-image: url("paginas/kaart/tweede/2de\ Oost.png");
}
.kaartFotoTerras {
    background-image: url("paginas/kaart/derde/terras.png");
}
.kaartKnop {
    position: relative;
    padding: 5vw;
    padding-bottom: 0;
    padding-top: 0;
    height: min-content;
    z-index: 1;
}
.knop0 {
    top: 10%;
    left: 35%;
}
.knop1 {
    top: 45%;
    left: 25%;
}
.knop2 {
    top: 25%;
    left: 0%;
}
.knop3 {
    top: 35%;
    left: 5%;
}
.knop4 {
    top: 40%;
    left: -35%;
}
.knop5 {
    top:90%;
    left: 30%;
}
.knop6 {
    top: 90%;
    left: 30%;
}
.knop7 {
    top: 65%;
    left: 25%;
}
.knop8 {
    top: 90%;
    left: 18%;
}
.knop9 {
    top: 25%;
    left: 0%;
}
.knop10 {
    top: 5%;
    left: 20%;
}
.knop11 {
    top: 1%;
    left: 20%;
}
.knop12 {
    top: 9%;
    left: 6%;
}
.knop13 {
    top: 5%;
    left: 5%;
}
.knop14 {
    top: 5%;
    left: 0%;
}
.knop15 {
    top: 25%;
    left: -20%;
}
.knop16 {
    top: 40%;
    left: -28%;
}
.knop17 {
    top: 10%;
    left: -20%;
}
.knop18 {
    top: 10%;
    left: 64%;
}
.knop19 {
    top: 27%;
    left: 50%;
}
.knop20 {
    top: 45%;
    left: 36%;
}
.knop21 {
    top: 27%;
    left: 7%;
}
.knop22 {
    top: 80%;
    left: -23%;
}
.knop23 {
    top: 50%;
    left: -30%;
}
.knop24 {
    top: 40%;
    left: -44%;
}
.knop25 {
    top: 42%;
    left: 25%;
}
.knop26 {
    top: 49%;
    left: 11%;
}
.knop27 {
    top: 34%;
    left: -3%;
}
.knop28 {
    top: 55%;
    left: 7%;
}
.knop29 {
    top: 25%;
    left: 5%;
}
.knop30 {
    top: 67%;
    left: -7%;
}
.knop31 {
    top: 73%;
    left: -21%;
}
.knop32 {
    top: 67%;
    left: -20%;
}
.knop33 {
    top: 73%;
    left: -34%;
}
.knop34 {
    top: 0%;
    left: 0%;
}
.knop35 {
    top: 0%;
    left: 0%;
}
.knop36 {
    top: 0%;
    left: 0%;
}
.knop37 {
    top: 0%;
    left: 0%;
}
.knop38 {
    top: 0%;
    left: 0%;
}
.knop39 {
    top: 0%;
    left: 0%;
}
.knop40 {
    top: 0%;
    left: 0%;
}
.knop41 {
    top: 0%;
    left: 0%;
}
.knop42 {
    top: 0%;
    left: 0%;
}
.knop43 {
    top: 0%;
    left: 0%;
}
.knop44 {
    top: 0%;
    left: 0%;
}
.knop45 {
    top: 0%;
    left: 0%;
}
.knop46 {
    top: 0%;
    left: 0%;
}
.knop47 {
    top: 0%;
    left: 0%;
}
.knop48 {
    top: 0%;
    left: 0%;
}
.knop49 {
    top: 0%;
    left: 0%;
}
.knop50 {
    top: 0%;
    left: 0%;
}
.knop51 {
    top: 0%;
    left: 0%;
}
.knop52 {
    top: 0%;
    left: 0%;
}
.knop53 {
    top: 0%;
    left: 0%;
}
.knop54 {
    top: 0%;
    left: 0%;
}
.knop55 {
    top: 0%;
    left: 0%;
}
.knop56 {
    top: 0%;
    left: 0%;
}
.knop57 {
    top: 0%;
    left: 0%;
}
.knop58 {
    top: 0%;
    left: 0%;
}
.knop59 {
    top: 0%;
    left: 0%;
}
.knop60 {
    top: 0%;
    left: 0%;
}
.knop61 {
    top: 0%;
    left: 0%;
}
.knop62 {
    top: 0%;
    left: 0%;
}
.knop63 {
    top: 0%;
    left: 0%;
}
.knop64 {
    top: 0%;
    left: 0%;
}
.knop65 {
    top: 0%;
    left: 0%;
}
.knop66 {
    top: 71%;
    left: -8%;
}
.knop67 {
    top: 55%;
    left: -6%;
}
.knop68 {
    top: 71%;
    left: -23%;
}
.knop69 {
    top: 17%;
    left: 49%;
}
.knop70 {
    top: 0%;
    left: 0%;
}
.knop71 {
    top: 0%;
    left: 0%;
}
.knop72 {
    top: 0%;
    left: 0%;
}
.knop73 {
    top: 0%;
    left: 0%;
}
@media only screen and (orientation: landscape) {
    .titelVoor {
        font-size: 2vw;
    }
    .button, .buttonGroen, .buttonRood {
        height: 3vw;
        width: 3vw;
    }
    .roterend {
        width: 20%;
    }
    .kaart {
        width: 45vw;
        height: 25vw;
    }
}